# Python stuff
__pycache__/
*.egg-info
/dist
/log*

# pdm
/.pdm-plugins
/.pdm-python
/.pdm-build
/.venv
/.coverage

# pytest
/.pytest_cache

# doit local database
.doit.db

docs/_build
docs/autoapi
docs/chipflow-lib
.cache
